@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color:#cc1c39;
  --main-color-hover:#aa1730;
  --bs-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  --bs-input-border-color: #d8dfe7;
  --bs-input-focus-border-color: #b0b0bb;
  --bs-btn-color: #5d7186;
  --bs-btn-border-color: #5d7186;
  --bs-btn-hover-bg: #5d7186;
  --bs-border-color: #eaedf1;
}

.font-secondary {
  font-family: "Hanken Grotesk", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

hr{
  margin: 1.0005rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid var(--bs-border-color);
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .check-validity:user-invalid {
    border-color: rgb(235, 94, 94);
  }
  .down-shadow {
    box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-nav::-webkit-scrollbar {
  width: 6px;
}
.scroll-nav::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-table::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-thin::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
.scroll-thin::-webkit-scrollbar-track {
  background: transparent !important;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 5px;
}


.container-main {
  max-width: 95%;
  margin: auto;
  height: 100%;
}

.drop-shadow {
  box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
}